<%- include('partials/head') -%>
<%- include('partials/header') -%>
<body>
    <p>test</p>
    <% if (locals.users) { %>
        <% users.forEach(user => { %>
            <div>
                <p>Username: <%= user.username %></p>
                <p>Age: <%= user.age %></p>
                <p>City: <%= user.city %></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No users found</p>
    <% } %>
</body>
</html>