<!-- geen head want dit zit in de include -->
<%- include('partials/head') -%>


<body>
  <main>

    <!-- if else, zodat je ook een bericht krijgt te zien als er geen data gevonden is. -->
    <% if (locals.profile) { %>

    <section class="info">
      <h2 class="boven">Dit is je profiel</h2>
      <h3>Voornaam</h3>
      <p>
        <%= profile.firstname %>
      </p>
      <h3>Achternaam</h3>
      <p>
        <%= profile.lastname %>
      </p>
      <h3>Geboortedatum</h3>
      <p>
        <%= profile.leeftijd %>
      </p>
      <h3>Keuken</h3>
      <p>
        <%= profile.keuken %>
      </p>
    </section>

    <!-- form hier tijdelijk tot ik een database heb, dan kan ik de form anders gaan editen. -->
    <form action="/toevoegen?id=<%= profile._id %>" method="post">
      <h2 class="boven">Je kan nu je profiel bewerken</h2>

      <section>
        <h2>Wat is je naam?</h2>
        <ul class="name">
          <li>
            <label for="vname">Voornaam:</label>
            <input type="text" id="firstname" name="firstname" placeholder="Peter" value="<%= profile.firstname %>"
              required>
          </li>
          <li>
            <label for="aname">Achternaam:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Brugman" value="<%= profile.lastname %>"
              required>
          </li>
        </ul>

        <h2>Wat is je leeftijd?</h2>
        <ul class="age">
          <li>
            <label for="leeftijd">Geboorte datum:</label>
            <input type="date" id="leeftijd" name="leeftijd" value="<%= profile.leeftijd %>">
          </li>
        </ul>

        <h2>Wat is je favoriete keuken?</h2>
        <ul class="kitchen">
          <div>
            <li>
              <input type="radio" name="keuken" id="radio1" value='Italiaans'
                <%= profile.keuken === 'Italiaans' ? 'checked' : '' %>>
              <label for="radio1">Italiaans</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio2" value='Indisch'
                <%= profile.keuken === 'Indisch' ? 'checked' : '' %>>
              <label for="radio2">Indisch</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio3" value='Frans'
                <%= profile.keuken === 'Frans' ? 'checked' : '' %>>
              <label for="radio3">Frans</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio4" value='Spaans'
                <%= profile.keuken === 'Spaans' ? 'checked' : '' %>>
              <label for="radio4">Spaans</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio5" value='Grieks'
                <%= profile.keuken === 'Grieks' ? 'checked' : '' %>>
              <label for="radio5">Grieks</label>
            </li>
          </div>
          <div>
            <li>
              <input type="radio" name="keuken" id="radio6" value='Mexicaans'
                <%= profile.keuken === 'Mexicaans' ? 'checked' : '' %>>
              <label for="radio6">Mexicaans</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio7" value='Japans'
                <%= profile.keuken === 'Japans' ? 'checked' : '' %>>
              <label for="radio7">Japans</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio8" value='Chinees'
                <%= profile.keuken === 'Chinees' ? 'checked' : '' %>>
              <label for="radio8">Chinees</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio9" value='Thais'
                <%= profile.keuken === 'Thais' ? 'checked' : '' %>>
              <label for="radio9">Thais</label>
            </li>
            <li>
              <input type="radio" name="keuken" id="radio10" value='Indonesisch'
                <%= profile.keuken === 'Indonesisch' ? 'checked' : '' %>>
              <label for="radio10">Indonesisch</label>
            </li>
          </div>
        </ul>
      </section>

      <section>
        <div class="submit">
          <button type="submit" id="submitButton">submit</button>
        </div>
      </section>
    </form>


    <!-- else statement om te laten zien dat er geen user zijn gevonden. -->
    <% } else { %>
    <p>No user found</p>
    <% } %>

    <div class="editdiv">
      <button id="editButton" class="edit_button">
        Bewerken
      </button>
    </div>
  </main>
  <!-- footer include met daarin een klein menutje -->
  <%- include('partials/footer') -%>
  <script src="./scripts/index.js"></script>
  <script src="./scripts/create.js"></script>
</body>

</html>