<%- include('partials/head') -%>

  <body>
    <!-- <% if (locals.loggedIn) { %>
    <p>Welcome <%= username %>!</p>
    <button>Log out</button>
    <% } else { %>
    <button>Log in</button>
    <% } %> -->
    <main>
      <h2>Dit is je profiel</h2>
      <% if (locals.users) { %>
        <% users.forEach(user=> { %>
          <div class="info">
            <h3>Voornaam</h3>
            <p>
              <%= user.firstname %>
            </p>
            <h3>Achternaam</h3>
            <p>
              <%= user.lastname %>
            </p>
            <h3>Geboortedatum</h3>
            <p>
              <%= user.leeftijd %>
            </p>
            <h3>Keuken</h3>
            <p>
              <%= user.keuken %>
            </p>
          </div>
          <% }) %>
            <% } else { %>
              <p>No users found</p>
              <% } %>

                <div class="edit_button">
                  <a href="/edit">Bewerken</a>
                </div>
    </main>

  </body>

  </html>