<%- include('partials/head') -%>

<body>
  <!-- <% if (locals.loggedIn) { %>
    <p>Welcome <%= username %>!</p>
    <button>Log out</button>
    <% } else { %>
    <button>Log in</button>
    <% } %> -->

  <% if (locals.users) { %>
    <% users.forEach(user => { %>
    <div class="info">
  <p>Firstname: <%= user.firstname %></p>
  <p>Lastname: <%= user.lastname %></p>
  <p>Age: <%= user.leeftijd %></p>
  <p>Keuken: <%= user.keuken %></p>
    </div>
    <% }) %>
    <% } else { %>
    <p>No users found</p>
    <% } %>


</body>

</html>